body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

.audio {
    background: white;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
}

audio {
    width: 100%;
}